<doc xmlns="https://hyperview.org/hyperview">
  <screen>
    <styles>
      <style id="Image--full" width="420" height="800" />
    </styles>
    <body>
      <image source="<%= image_path('default_concert_image') %>" style="Image--full" />
    </body>
  </screen>
</doc>
